<!-- <p>{{title}}</p> -->






<!-- <div class="mb-2">
    <button class="btn btn-primary mx-2" (click)="handeToggleImg()">{{showImg?"Hide Image":"Show Image"}}</button>

    <button [disabled]="!isBtnDisabled" class="btn btn-info">Enabled</button>
</div>

<img [class]="showImg?'visible':'hidden'" [src]="imgSrc" alt="logo"> -->

<!-- <div [ngClass]="{'active':true}">
    <span>Title</span>
</div>

<div [style.backgroundColor]="blueBg">
    <span [ngStyle]="{'backgroundColor':isBtnDisabled?blueBg:redBG}">Using style binding</span>
</div> -->

<h2>My Store</h2>